*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
}

.a {
    background-color: red;
}

.b {
    background-color: orange;
}

.c {
    background-color: green;
}

.d {
    background-color: aqua;
}

.e {
    background-color: aqua;
}